*{box-sizing: border-box;
    padding: 5px;
    margin: 0;}

.header-principale {
    background-image: url('../img/pattern.png');
    padding-top: 100px;
    background-size: 260px;
    background-color: rgb(51, 151, 250);
    }

.logo {
    width: 180px;
}

.info {
    color: rgb(150, 150, 150);
	font-size: 20px;
}

.info time {
    font-size: 15px;
}

.TB {
    color: dodgerblue;
}

h1 {
    font-size: 48px;
}
p strong {
	font-weight: 400;
	background-color: yellow;
}

.table {
	width: 100%;
	border-collapse: collapse;
}

.table-heading {
	background-color: dodgerblue;
	color: white;
	text-align: left;
}

.w-25 {
	width: 25%;
}

.w-50 {
	width: 50%;
}

.row-acqua {
	background-color: aqua;
}

.related-post {
	color: white;
	background-color: rgba(0, 0, 0, 0.4);
}

.rect {
	width: 200px;
	height: 150px;
}

