#logo{
    width: 200px;
    height: 70px;
}
#Autore{
    color: aqua;
}

thead{
    background-color: aquamarine;
}

.row{
    background-color: rgb(61, 194, 246);
}

#graf{
    background-image: ;
}
#desk{

}